.body-box {
  display: flex;
  background-color: #FFC09F;
  flex-direction: column;
  border: 20px solid #FA92A4;
}

h1 {
  font-size: 50px;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  margin-bottom: 150px ;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: justify;
}

.inputPanel {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}

#generate {
  align-content: center;
  font-family: 'Indie Flower', cursive;
}

.sad-fox {
  border: 20px solid #FA92A4;;
}

.weirdfox {
  justify-content: space-around;
}

footer {
  font-family: 'Indie Flower', cursive;
  margin: 0 auto;
}